<ul class="nav flex-column" style="height: 100vh;">
    <li class="nav-item" style="padding-top: 20px;">
     
        <div class="input-group">
          <div class="input-group-prepend">
            <span><i class="pi pi-search-plus"></i></span>
          </div>
          <button class="btn btn-sm"type="submit"><strong>SEARCHES</strong> </button>
        </div>
      
    </li>
    <li class="nav-item" style="padding-top: 20px;">
      <form class="form-inline">
        <div class="input-group">
          <div class="input-group-prepend">
            <span><i class="pi pi-search-plus"></i></span>
          </div>
          <button class="btn btn-sm"type="submit"><strong>CURRENT ORDERS</strong></button>
        </div>
      </form>
      
    </li>
    <li class="nav-item" style="padding-top: 20px;">
      
        <div class="input-group">
          <div class="input-group-prepend">
            <span><i class="pi pi-search-plus"></i></span>
          </div>
          <button class="btn btn-sm"type="submit"><strong>COMPLETED ORDERS</strong></button>
        </div>
      
      
    </li>
    <li class="nav-item" style="padding-top: 20px;">

      <form class="form-inline">
        <div class="input-group">
          <div class="input-group-prepend">
            <span><i class="pi pi-search-plus"></i></span>
          </div>
          <button class="btn btn-sm"type="submit"><strong>TRACKINGS</strong></button>
        </div>
      </form>
      
    </li>
    <li class="nav-item" style="padding-top: 20px;">
      <form class="form-inline">
        <div class="input-group">
          <div class="input-group-prepend">
            <span><i class="pi pi-search-plus"></i></span>
          </div>
          <button class="btn btn-sm  "type="submit"><strong>CONFIGURATIONS</strong> </button>
        </div>
      </form>
      
    </li>
  </ul> 