<!-- <div class="row">
  <div class="col-sm-2" style="background-color:blue;">
    <app-side-nav></app-side-nav>
  </div>
  <div class="col-sm-10" style="background-color:yellow">
  <div class="row"  style="background-color:red">
      <app-header></app-header>
  </div>
  <div class="row"  style="background-color:saddlebrown">
    <app-dashboard></app-dashboard>
</div>
  </div>
</div> -->
<!-- <!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body> 
<div class="row">
  <div class="col-sm-2" ><app-side-nav></app-side-nav></div>
   <div class="col"style="background-color:yellow;"> <app-header></app-header></div> 
  <div class="col-sm-10" > <app-dashboard></app-dashboard></div>
</div> -->

<html>
	<!-- <head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Responsive Two Column Layout (Left Column Fluid)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head> -->
  
  <body>
  	<!-- <h1>Responsive Two Column Layout (Left Column Fluid)</h1> -->
    
    <!-- <header>
       <nav>
          <ul class="nav inline-items">
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">My Trips</a></li>
         </ul>
      </nav>
    </header> -->

  	<div class="columnsContainer" >

	  	<div class="leftColumn db" style="height: 100%;">
	  		<h2 class="newLeft" >
          <div><strong>GLOBAL ASSIST</strong></div>
        </h2>
        <app-side-nav></app-side-nav>
	  	</div>

	  	<div class="rightColumn db">
        <div>
          <app-header></app-header>
        </div>
        <div >
          <app-dashboard></app-dashboard>
        </div>
	  	</div>

  	</div>
<!--     
    <footer>
  		<p><a href="#">Contact Us</a> | <a href="#">Sitemap</a> | <a href="#">Privacy Policy</a></p>
  		<p>&copy;2014 Copyright info here...</p>
  	</footer> -->

  </body>
</html>